
# Build, cache and configuration files
.DS_Store
*.egg-info
.vscode
__pycache__
dist

# Saving directory
# launchers/
savings/
logs/

# Saved files
configs.jsonl
*.jsonl
*.pkl
*.pt
*.npy
*.pdf
*.png
*.gif
*.mp4
*.zip
*.err
*.out